@import "settings";
@import "../bower_components/foundation/scss/foundation";
@import "../bower_components/font-awesome/scss/font-awesome";
@import "colors";


body, h1, h2, h3, h4, h5, h6, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, "Heiti SC", Heiti SC, Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei, Arial, sans-serif;
  background-color: $shiRoNeRi;
}

.sub-header {
  margin-top: 1em;
  color: darken($grassGreen, 10%);
  small {
    margin-top: 1em;
    color: darken($grassGreen, 20%);
    display: block;
  }
}

#alert {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  z-index: 10;
  .alert-box {
    opacity: 0.7;
  }
}

.tag-label {
  .hover-fa {
    display: none;
  }
}

.tag-label:hover {
  .hover-fa {
    display: inline;
  }
  .score {
    display: none;
  }
}

.tag-label{
  min-height: 1.5em;
  margin-bottom: 0.5em;
}

.popular-urls{
  min-height: 1.3em;
  a {
    color: $grassGreen;
  }
}

.add-tags{
  margin-top: 1em;
}

.captcha {
  margin-bottom: 1em;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: $shiRoNeRi;
}



// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
