div(ng-include='\'partials/navbar\'')
.row
  .small-12.columns
    form(name='urlForm', novalidate)
    .row.collapse
      .small-2.columns
        span.prefix URL
      .small-8.columns
        input(type='text', ng-model='current.url')
      .small-2.columns
        a.button.postfix(href='#', ng-click='get_top_tags_by_url()')
          i.fa.fa-play
.row
  .small-10.columns
    .row.collapse
      .small-3.columns
        span.prefix Add tag
      .small-7.columns
        input(type='text', ng-model='current.new_tag')
      .small-2.columns
        a.button.postfix(href='#', ng-click='add_tag()')
          i.fa.fa-plus
.row
  .small-12.columns(ng-repeat='tag in current.tags')
    span.label
      i.fa.fa-tag
      | {{tag}}

