.footer(ng-controller='NavbarCtrl')
  .row
    .small-12.columns
      ul.inline-list

        li(ng-click='login_form.toggle_reg()', ng-if='!is_logined')
          a(href='#')
            i.fa.fa-ticket
            | &nbsp; 注册

        li(ng-click='login_form.toggle_login()', ng-if='!is_logined')
          a(href='#')
            i.fa.fa-sign-in
            | &nbsp;登录

        li(ng-click='logout()', ng-if='is_logined')
          a(href='#')
            i.fa.fa-sign-out
            | &nbsp;注销

        li.username(ng-if='is_logined', title='{{currentUser}}')
          a.long-text(href='#')
            i.fa.fa-user
            | &nbsp; {{currentUser}}


  form(name='loginForm', ng-if='login_form.get_is_shown()')
    div.row
      .small-12.columns
        input(placeholder='邮箱', type='email', name='email', required, ng-model='user_id', ng-class='{error:loginForm.email.$dirty && loginForm.email.$invalid}')
        small.error(ng-show='loginForm.email.$dirty && loginForm.email.$error.required') 邮箱不能为空啦
        small.error(ng-show='loginForm.email.$dirty && loginForm.email.$error.email') 这不像个邮箱嘛
    div.row
      .small-12.columns
        input(placeholder='密码', type='text', name='password', required, ng-minlength='6', ng-model='password', ng-class='{error:loginForm.password.$dirty && loginForm.password.$invalid}')
        small.error(ng-show='loginForm.password.$dirty && loginForm.password.$error.required') 密码不能为空啦
        small.error(ng-show='loginForm.password.$dirty && loginForm.password.$error.minlength') 密码至少六位嘛
    div.row
      .small-12.columns
        .login(vc-recaptcha, theme='custom', ng-if='!login_form.get_is_login()', ng-model="recaptcha_response", tabindex='1', lang='en', key='recaptcha_challenge')
          a(href='', ng-click='captcha.reload()')
            img.captcha.th.radius(ng-src='{{captcha.data.image}}',title='点击刷新')
          input#recaptcha_response_field(placeholder='请输入以上字符',type='text', required, name='recaptcha_response_field', ng-model='captcha.answer')
    div.row
      .small-12.columns
        button.button.small(ng-click='login(user_id, password)', ng-show='login_form.get_is_login()', ng-disabled="loginForm.$invalid") 登录
        button.button.small(ng-click='create_user(user_id, password, recaptcha_response)', ng-hide='login_form.get_is_login()', ng-disabled="loginForm.$invalid") 注册
